name: Publish release packages

on:
  release:
    types: [ "published" ]

jobs:

  publish-packages:
    name: Publish packages without JDK

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: '100'

      - name: set upload url
        id: fetch_release_data
        run: |
          UPLOAD_URL=$(jq -r '.release.upload_url' ${GITHUB_EVENT_PATH})
          echo "::set-output name=upload_url::$UPLOAD_URL"

      - name: Setup Java JDK
        uses: actions/setup-java@v1.3.0
        with:
          java-version: 11
          java-package: jdk
          architecture: x64

      - name: Package
        id: package
        run: |
          ./gradlew clean test doks-core:shadowDistZip doks-core:shadowDistTar

      - name: Upload zip package
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.fetch_release_data.outputs.upload_url }}
          asset_path: doks-core/build/distributions/doks.zip
          asset_name: doks.zip
          asset_content_type: application/zip

      - name: Upload tar package
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.fetch_release_data.outputs.upload_url }}
          asset_path: doks-core/build/distributions/doks.tar
          asset_name: doks.tar
          asset_content_type: application/zip


  update-brew-formula:
    name: Update brew formula
    needs: publish-packages
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}

      - uses: fwilhe2/setup-kotlin@main

      - run: |
          VERSION=${GITHUB_REF/refs\/tags\//}
          dev/scripts/helper.main.kts -- formula \
            --version ${VERSION} \
            --url https://github.com/wlezzar/doks/releases/download/${VERSION}/doks.zip \
            > Formula/doks.rb

      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "[auto] Update brew formula"
          branch: master
          file_pattern: "Formula/*.rb"
